.badge {
  background: palette(red, badge);
  border-radius: 50%;
  color: palette(white, base);
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  height: 22px;
  line-height: 21px;
  min-width: 22px;
  padding: 0;
  text-align: center;
  width: 22px;
}
