.mi-project:before {
  content: url(./../assets/icon-project.svg);
}

.mi-tracker:before {
  content: url(./../assets/icon-tracker.svg);
}

.mi-contractors:before {
  content: url(./../assets/icon-contractors.svg);
}

.mi-properties:before {
  content: url(./../assets/icon-properties.svg);
}

.mi-dispatch:before {
  content: url(./../assets/icon-dispatch.svg);
}

.mi-settings:before {
  content: url(./../assets/icon-settings.svg);
}
