.footer {
  background-color: $black;
  bottom: 0;
  color: $white;
  height: 40px;

  left: 0;
  line-height: 40px;
  position: absolute;
  width: 100%;

  .env {
    color: white;
  }

  .logo {
    img {
      height: 20px;
    }
  }
}
