/*----------------------------------------------------
  1. General
----------------------------------------------------*/
body {
  color: palette(blue, baseText);
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 8px 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 8px 0;
  padding: 0;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 20px 0;
  padding: 0;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 12px;
}

p {
  color: palette(blue, baseText);
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

a {
  color: palette(blue, base);
}

a:hover {
  text-decoration: none;
}

a:focus,
a:visited {
  color: palette(blue, base);
}

.page__container {
  max-width: 100%;
  padding: 0 40px;
  position: relative;
  width: 100%;
}

.delimiter {
  flex: 1;
}

.clearfix:before,
.clearfix:after {
  clear: both;
  content: "";
  display: table;
  line-height: 0;
}

input::placeholder {
  color: palette(grey,base);
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}


.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 50px;
  padding-top: 20px;
}

.page-content {
  background: palette(white,backGround);
  min-height: calc(100vh - 72px);
  min-width: 1024px;
  padding-bottom: 48px;
  padding-top: 48px;

}
