@import url(~normalize.css/normalize.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-size: 100%;
  font-weight: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #fff;
  line-height: 1.2; }

article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

blockquote, q {
  quotes: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: 0; }

a img {
  border: 0; }

img {
  max-width: 100%;
  height: auto; }

.header {
  background: #fff;
  box-shadow: 0 2px 10px rgba(22, 84, 152, 0.1);
  height: 72px;
  width: 100%; }
  .header__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 40px; }
  .header__logo-wrapper {
    float: left;
    width: 72px; }
  .header__logo {
    background: url(./../assets/logo.svg) no-repeat center;
    background-size: contain;
    height: 72px;
    width: 72px; }
  .header__logout {
    cursor: pointer;
    float: right;
    margin-left: 16px;
    padding-top: 1px;
    width: 24px; }
  .header__logout-icon {
    background: url(./../assets/icons-logout.svg) no-repeat;
    background-size: contain;
    display: block;
    height: 18px;
    position: relative;
    width: 18px; }

/*----------------------------------------------------
  1. General
----------------------------------------------------*/
body {
  color: #444444;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px; }

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 8px 0;
  padding: 0; }

h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 8px 0;
  padding: 0; }

h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 20px 0;
  padding: 0; }

h4 {
  font-size: 19px; }

h5 {
  font-size: 17px; }

h6 {
  font-size: 12px; }

p {
  color: #444444;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px; }

a {
  color: #14589C; }

a:hover {
  text-decoration: none; }

a:focus,
a:visited {
  color: #14589C; }

.page__container {
  max-width: 100%;
  padding: 0 40px;
  position: relative;
  width: 100%; }

.delimiter {
  flex: 1; }

.clearfix:before,
.clearfix:after {
  clear: both;
  content: "";
  display: table;
  line-height: 0; }

input::placeholder {
  color: #BDBDBD; }

input:focus {
  outline: none; }

button:focus {
  outline: none; }

.wrapper {
  min-height: 100%;
  position: relative; }

.content {
  padding-bottom: 50px;
  padding-top: 20px; }

.page-content {
  background: #F2F3F8;
  min-height: calc(100vh - 72px);
  min-width: 1024px;
  padding-bottom: 48px;
  padding-top: 48px; }

.footer {
  background-color: #000;
  bottom: 0;
  color: #fff;
  height: 40px;
  left: 0;
  line-height: 40px;
  position: absolute;
  width: 100%; }
  .footer .env {
    color: white; }
  .footer .logo img {
    height: 20px; }

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .menu__link {
    color: inherit;
    text-decoration: none; }
    .menu__link:hover {
      opacity: .5;
      text-decoration: none; }
  .menu__item {
    display: inline-block;
    padding: 8px 16px; }
    .menu__item:hover > .menu__sub-menu {
      left: auto; }
  .menu__sub-menu {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(22, 84, 152, 0.1);
    float: left;
    left: -999em;
    padding: 8px 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 99999; }
  .menu__subItem a {
    color: #14589C;
    display: block;
    font-size: 13px;
    line-height: 16px;
    padding: 8px 16px;
    text-decoration: none; }
    .menu__subItem a:hover {
      background: rgba(197, 215, 255, 0.5); }
    .menu__subItem a:after {
      content: none; }
  .menu__expandable {
    padding-right: 32px;
    position: relative; }
    .menu__expandable .menu__link:after {
      background-image: url(./../assets/icon-chevron.svg);
      background-size: contain;
      content: '';
      height: 6px;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translate(0, -50%);
      width: 10px; }
  .menu__title {
    color: #165498;
    font-size: 13px;
    font-weight: 400; }
  .menu__icon-holder {
    display: inline-block;
    height: 16px;
    left: 0;
    line-height: 20px;
    margin-right: 4px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 16px; }

.mi-project:before {
  content: url(./../assets/icon-project.svg); }

.mi-tracker:before {
  content: url(./../assets/icon-tracker.svg); }

.mi-contractors:before {
  content: url(./../assets/icon-contractors.svg); }

.mi-properties:before {
  content: url(./../assets/icon-properties.svg); }

.mi-dispatch:before {
  content: url(./../assets/icon-dispatch.svg); }

.mi-settings:before {
  content: url(./../assets/icon-settings.svg); }

.mi-quotes::before {
  content: url(./../assets/icon-quotes.svg); }

.edit-project__icon:before {
  content: url(./../assets/icon-edit.svg); }

.delete-project__icon:before {
  content: url(./../assets/icon-delete.svg); }

.add-project__icon {
  display: block;
  height: 16px;
  position: relative;
  width: 16px; }

.add-1 {
  background-color: #14589C;
  display: block;
  height: 16px;
  left: 7px;
  position: absolute;
  top: 1px;
  width: 2px; }

.add-2 {
  background-color: #14589C;
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 16px; }

.badge {
  background: #EB5757;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  height: 22px;
  line-height: 21px;
  min-width: 22px;
  padding: 0;
  text-align: center;
  width: 22px; }

.table {
  border-collapse: separate;
  border-spacing: 0 8px;
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  margin-top: -8px;
  width: 100%; }
  .table__icon {
    border: 0;
    cursor: pointer;
    display: inline-block;
    opacity: .6;
    padding-right: 24px; }
  .table__row {
    box-shadow: 0 2px 10px rgba(22, 84, 152, 0.1); }
    .table__row--bold {
      color: #444444;
      font-weight: 600; }
  .table__header {
    color: #C4C5D6;
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
    padding: 16px 8px 8px 8px; }
    .table__header--boldText {
      color: #444444;
      font-weight: 600; }
  .table__cell {
    background-color: #fff;
    border: solid 1px #fff;
    padding: 22px 8px 21px 8px;
    vertical-align: middle; }
    .table__cell--bold {
      color: #444444;
      font-weight: 600; }
    .table__cell:first-child {
      border-bottom-left-radius: 4px;
      border-left-style: solid;
      border-top-left-radius: 4px; }
    .table__cell:last-child {
      border-bottom-right-radius: 4px;
      border-right-style: solid;
      border-top-right-radius: 4px; }
  .table__status {
    padding-left: 8px;
    position: relative; }
    .table__status--active {
      color: #27AE60; }
      .table__status--active:before {
        background-color: #27AE60; }
    .table__status--inactive {
      color: #EB5757; }
      .table__status--inactive:before {
        background-color: #EB5757; }
    .table__status--closed {
      color: #C4C5D6; }
      .table__status--closed:before {
        background-color: #C4C5D6; }
    .table__status:before {
      border-radius: 50%;
      content: "";
      height: 4px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4px; }

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 16px 0 0 0; }
  .pagination__item {
    align-items: center;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    margin: 0 4px;
    width: 32px; }
    .pagination__item button {
      background: none;
      border: 0;
      color: #14589C; }
    .pagination__item--active {
      background: #14589C;
      border-radius: 16px;
      height: 32px;
      width: 32px; }
      .pagination__item--active button {
        color: #fff; }
  .pagination__amount {
    color: #8BAACC;
    font-size: 13px;
    font-weight: 400;
    line-height: normal; }
